/* สำหรับตกแต่งหน้า index */
a {
  color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
  text-decoration: none !important;
}

.container {
  max-width: 925px!important;
}

.container {
  max-width: 1402px !important;
}


.section_1{
  width: 100%;
  height: 950px;
  background-color: #35A8CB;
}

.section_2{
  width: 100%;
  height: 950px;
  background-color: #ffffff;
}

.section_3{
  width: 100%;
  height: 950px;
  background-color: #35A8CB;
}

.section_4{
  width: 100%;
  height: 950px;
  background-color: #ffffff;
}







