/* สำหรับตกแต่งหน้า index */
a {
  color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
  text-decoration: none !important;
}

section {
  height: 100vh;
  padding: 100px 0;
  text-align: center;
}



section h1 {
font-size: clamp(40px,3.5vw,70px);
margin-top: 30px;
font-weight: bold;
}

#about { background: #35A8CB;color: #ffffff; }
#services { background: rgb(255, 255, 255);color: #35A8CB; }
#clients { background: #35A8CB;color: #ffffff; }
#contact { background: rgb(255, 255, 255);color: #35A8CB; }






