/* สำหรับตกแต่งหน้า index */
a {
  color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
  text-decoration: none !important;
}

section {
  height: 100vh;
  padding: 100px 0;
  text-align: center;
}

.container{
  max-width: 1215px !important;
}

section h1 {
  font-size: clamp(40px,3.5vw,70px);
  margin-top: 52px;
  font-weight: bold;
  margin-bottom: 20px;
}

#about { background: #0f3e8a;color: #ffffff; }
#services { background: rgb(255, 255, 255);color: #0F3F8A; }
#how { background: #0F3F8A;;color: #ffffff; }
#clients { background: #ffffff;color: #0F3F8A; }
#acc { background: #0F3F8A;color: #ffffff; }
#promo { background: #ffffff;color: #0F3F8A; }
#contact { background: #0F3F8A;color: #ffffff; }



.container {
  max-width: 1559px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  gap: 30px;
}

.service-box {
  background-color: #0F3F8A;
  color: white;
  border-radius:20px;
  overflow:hidden;
  text-align: center;
}

.service-box img {
  width: 100%;
  height: 201px;
  object-fit: cover;
  transition:transform 0.3s ease; /* เพิ่ม transition เพื่อให้การเปลี่ยนแปลงสมูท */
}

.service-box img:hover {
  transform: scale(1.1); /* ขยายรูปภาพ 110% เมื่อ hover */
}

.service-box h1 {
  font-size: 27px;
  margin-top: 19px;
  font-weight: bold;
  margin-bottom: 0;
  line-height: 1.2;
  color: white;
}

.service-box p {
  padding:5px 30px;
  font-size: 17px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.2;
  color: white;
  text-align: start;
}

@media (max-width: 768px) {

  .container {
    max-width: 1559px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    gap:17px;
    padding:0 40px;
  }

  .service-box {
    font-size: 27px;
    margin-top: 13px;
    font-weight: bold;
    margin-bottom: 0;
    line-height: 1.2;
    color: white;
  }
  
  .service-box img {
    width: 100%;
    height: 189px;
    object-fit: cover;
    transition:transform 0.3s ease; /* เพิ่ม transition เพื่อให้การเปลี่ยนแปลงสมูท */
  }
  
  .service-box img:hover {
    transform: scale(1.1); /* ขยายรูปภาพ 110% เมื่อ hover */
  }
  
  .service-box h1 {
    font-size: 27px;
    margin-top: 13px;
    font-weight: bold;
    margin-bottom: 0;
    line-height: 1.2;
    color: white;
  }
  
  .service-box p {
    padding:10px 30px;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 1.2;
    color: white;
    text-align: start;
  }
}






@keyframes slide{
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.gallery {
overflow: hidden;
padding: 0px 0;
background-color: #fcfcfc;
}

.gallery-slide {
white-space: nowrap;
animation: 12s slide infinite linear;
}
.gallery img {
  width: 143%;
  height: auto;
  max-width: 594px;
}

@media (max-width: 768px) {
  .gallery img {
      max-width: 100%;
  }
}



.ner {
  width: auto;
  height: 800px;
  display: flex;
  flex-wrap: wrap; /* ทำให้เป็นแถวเดียวเมื่อหน้าจอเล็กลง */
}

.left-section {
  width: 30%;
  background-color: #fcfcfc; /* สีพื้นหลังส่วนซ้าย */
  padding: 20px;
  box-sizing: border-box;
}

.right-section {
  width: 70%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

/* สร้าง container สำหรับภาพพื้นหลัง */
.slideshow {
  width: 100%;
  height: 100%;
}

.slideshow img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  padding: 72px;
  border-radius: 170px;
}

/* ทำให้ภาพแรกแสดงก่อน */
.slideshow img.active {
  opacity: 1;
}

.logo {
  text-align: center;
  margin-bottom: -30px;
  margin-top: 139px;
}

.logo img {
  max-width: 357px;; /* ปรับขนาดโลโก้ตามต้องการ */
}

.text-content {
  padding: 0px;
  margin-top: 30px;
}

.text-content h2{
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 0;
  line-height: 1.2;
  color: #0F3F8A;
}

.text-content h3{
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 0;
  line-height: 1.2;
  color: #0F3F8A;
}

.text-content p{
  font-size: 30px;
  margin-bottom: 0;
  color: #0F3F8A;
  margin-top: 10px;
}

/* ปรับให้เป็นแถวเดียวเมื่อหน้าจอเล็กลง */
@media (max-width: 768px) {

  .ner {
    width: auto;
    height: 508px;
    display: flex;
    flex-wrap: wrap;
  }

  .left-section, .right-section {
    width: 100%;
    height: auto;
  }
  
  .logo img {
    max-width: 295px;/* ปรับขนาดโลโก้ตามต้องการ */
  }

  .logo {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 10px;
  }

  .left-section {
    padding: 10px;
    height: 50%;
  }

  .text-content {
    padding: 0px;
    margin-top: 0;
  }
  
  .text-content h2{
    font-size: 46px;
    font-weight: bold;
    margin-bottom: 0;
    line-height: 1.2;
    color: #0F3F8A;
  }
  
  .text-content h3{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 0;
    line-height: 1.2;
    color: #0F3F8A;
  }
  
  .text-content p{
    font-size: 24px;
    margin-bottom: 0;
    color: #0F3F8A;
  }

  .slideshow img {
    padding: 12px;
    border-radius: 30px;
  }
}











.Endner {
  width: auto;
  height: 450px;
  display: flex;
  flex-wrap: wrap; /* ทำให้เป็นแถวเดียวเมื่อหน้าจอเล็กลง */
}

.left-s {
  width: 20%;
  background-color: #0F3F8A; /* สีพื้นหลังส่วนซ้าย */
  padding: 20px;
  box-sizing: border-box;
}

.right-s {
  width: 60%;
  background-image: url('https://beckham0.github.io/Source/IMG_112.png'); /* ใส่ URL รูปภาพของคุณ */
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}

.merde-s {
  width: 20%;
  background-color: #0F3F8A; /* สีพื้นหลังส่วนซ้าย */
  padding: 20px;
  box-sizing: border-box;
}

.logo2 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0px;
}

.logo2 img {
  max-width: 202px;/* ปรับขนาดโลโก้ตามต้องการ */
}

.t-content {
  padding: 0px;
  margin-top: 30px;
}

.t-content h2{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 0;
  line-height: 1.2;
  color: #ffffff;
}

.t-content h3{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 0;
  line-height: 1.2;
  color: #ffffff;
}

.t-content p{
  font-size: 30px;
  margin-bottom: 0;
  color: #ffffff;
}

/* ปรับให้เป็นแถวเดียวเมื่อหน้าจอเล็กลง */
@media (max-width: 930px) {

  .Endner {
    width: auto;
    height: auto;
  }

  .left-s,.merde-s, .right-s {
    width: 100%;
    height: auto;
    padding: 0px;
  }
  
  .logo2 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0px;
  }

  .logo2 img {
    max-width: 178px;/* ปรับขนาดโลโก้ตามต้องการ */
  }

  .left-s {
    padding: 10px;
    height: 50%;
  }

  .t-content {
    padding: 0px;
  }
  
  .t-content h2{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0;
    line-height: 1.2;
    color: #ffffff;
    margin-top: 105px;
  }
  
  .t-content h3{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0;
    line-height: 1.2;
    color: #ffffff;
  }
  
  .t-content p{
    font-size: 20px;
    margin-bottom: 0;
    color: #ffffff;
    margin-top: 10px;
  }
}





.about-us {
  display: flex;
  flex-wrap: wrap;
  max-width: 1223px;
  margin:auto;
  gap:90px;
  padding:70px 0px;

  background-image: url('Source/IMG_2.JPG');
  background-size: cover; /* ปรับภาพให้พอดีกับพื้นที่ */
  background-position: center; /* จัดตำแหน่งภาพ */
  background-repeat: no-repeat; /* ไม่ให้ภาพซ้ำ */
}
.text-section {
  flex: 3;
  padding: 20px;
}
.text-section h2 {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 31px;
  text-align: center;
  margin-top: 34px;
  margin-right: 158px;
}

.text-section h3 {
  font-size: 36px;
  margin-bottom: 23px;
  text-align: start;
  font-weight: bold;
}

.text-section p {
  font-size: 25px;
  line-height: 1.6;
  text-align: start;
}
.slider-section {
  flex: 2;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.slider {
  max-width: 100%;
  overflow: hidden;
  position: relative;
}
.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}


.slider-section h2 {
  font-size: 36px;
  margin-bottom: 40px;
  text-align: center;
  font-weight: bold;
}

.slides img {
  width: 100%;
  border-radius: 10px;
}
.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.5);
  color: black;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.prev { left: 10px; }
.next { right: 10px; }


.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 0px;
  width: 477px;
  height: 465px;
}
.slide-wrapper {
  display: flex;
  overflow: hidden;
  width: 90%;
  max-width: 800px;
}
.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.slide {
  min-width: 100%;
}
.slide img {
  width: 100%;
  max-width: 332px;
  height: auto;
}
.arrow {
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0);
  color: #ffffff;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 50px;
}
.left {
  left: 10px;
}
.right {
  right: 10px;
}
.dots {
  margin-top: 15px;
  text-align: center;
  margin-right: 20px;
}
.dot {
height: 10px;
width: 10px;
margin: 5px;
background-color: white;
border-radius: 50%;
display: inline-block;
cursor: pointer;
opacity: 0.5;
}
.active {
opacity: 1;
}
.modal {
display: none;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.8);
align-items: center;
justify-content: center;
}
.modal img {
max-width: 90%;
max-height: 80%;
}
.close {
position: absolute;
top: 20px;
right: 30px;
font-size: 50px;
color: white;
cursor: pointer;
}


@media (max-width: 768px) {
      .about-us {
        flex-direction: column;
        display: flex;
        flex-wrap: wrap;
        max-width: 1200px;
        margin:auto;
        gap:0px;
        padding:
        0 10px;
        margin-top: 70px;
      }

  .text-section h2 {
font-size: 53px;
margin-bottom: 12px;
text-align: center;
margin-top: 0px;
margin-right: 0px;

}

.text-section h3 {
  font-size: 20px;
  margin-bottom: 23px;
  text-align: center;
}

.text-section p {
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}

.slider-section {
  margin-top: 0px;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 0px;
    width: 400px;
    height: 316px;
}

.slide img {
  width: 100%;
  max-width: 220px;
  height: auto;
}

.dots {
  margin-top: 15px;
  text-align: center;
  margin-right: 20px;
}
}