*{
  font-size: clamp(9px,2.5vw,26px);
  font-family: "Kanit", serif;
  font-weight: 300;
  font-style: normal;
  
}
.bg_buttom{
  color: #ffffff !important;
    background-color: #35A8CB;
    border-radius: 50px;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: rgb(255, 255, 255) !important;
}

.start {
  background-color: #35A8CB;
  padding: 1px;
  width: 100%;
  display: flex;
}

.start h1 {
font-size: 0.7rem;
text-align: center;
margin: 10px auto;
}

***********************************************************************


 .nav-item {
  margin: auto 200px;
}

.navbar-expand-lg{
  position: sticky!important; top: 0px!important;
  box-shadow: -1px 13px 20px -19px;
  width: auto;
  height: 110px;
}

.navbar-nav {
  width: 100%;
  flex-flow: row;
  justify-content: center;
  padding:10px;
  border-radius: 10px;
  margin-right: 70px;
  white-space: nowrap;
}

.nav-item{
  font-weight: 350;
  padding: 0 15px;
  font-size: 20px!important;
  text-align: center;
}

.nav-link{
  font-weight: bolder !important;
  color: #35A8CB !important;
  border-radius: 50px;

}
.nav-link:hover {
  color: #ffffff !important;
  background-color: #35A8CB;
  border-radius: 50px;
}

.container-fluid {
  display: grid !important;
  grid-template-columns: 20% 80%;
  text-align: center;
  gap: 5px;
  padding-right: calc(var(--bs-gutter-x) * 1)!important;
  padding-left: calc(var(--bs-gutter-x) * 1)!important;
}

.navbar-brand{
  justify-self: start;
  border-radius: 20px;
}

.collapse navbar-collapse{
  padding: 0 10px;
  margin: 0;
}

.navbar-nav {
  padding: 5px;
}


.navbar-toggler {
  color: #35A8CB !important;
  background-color: #ffffff !important;
}


@media (max-width: 994px) {
  .container-fluid {
    display: flex !important;
    grid-template-columns: 20% 80%;
    text-align: center;
    gap: 10px;
    
  }

  .navbar-nav {
    width: 100%;
    flex-flow: row;
    justify-content: space-around;
    padding: 10px;
  }

  .nav-link{
    font-weight: bolder !important;
    color: #35A8CB !important;
    font-size: 19px!important;
    text-align: right;
    padding: 0 10px!important;
  
  }
}
