*{
  font-size: clamp(9px,2.5vw,26px);
  font-family: "Kanit", serif;
  font-weight: 300;
  font-style: normal;
  
}
.bg_buttom{
  color: #ffffff !important;
    background-color: #35A8CB;
    border-radius: 50px;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: rgb(255, 255, 255) !important;
}

.start {
  background-color: #0F3F8A;
  padding: 2px;
  width: 100%;
  display: flex;
}

.start h1 {
font-size: 0.8rem;
text-align: center;
margin: 10px auto;
}

.end{
  background-color: #0F3F8A;
  padding: 2px;
  width: 100%;
  display: flex;
}

.end h1 {
font-size: 0.7rem;
text-align: start;
margin: 10px 80px;
}

.too {
  background-color: #0F3F8A;
  width: 100%;
  height: 3px;
  padding: 6px 0;
}



***********************************************************************
 .nav-item {
  margin: auto 200px;
}

.navbar-expand-lg{
  position: sticky!important; top: 0px!important;
  box-shadow: -1px 13px 20px -19px;
  width: auto;
  height: 110px;
}

.navbar-nav {
  width: 100%;
  flex-flow: row;
  justify-content: center;
  padding:10px;
  border-radius: 10px;
  margin-right: 70px;
  white-space: nowrap;
}

.nav-item{
  font-weight: 350;
  padding: 0 10px;
  font-size: 24px!important;
  text-align: center;
}

.nav-item a{
  padding: 5px 10px;
}

.nav-link{
  font-weight: bolder !important;
  color: #0F3F8A!important;
  border-radius: 50px;

}

.navbar-nav .nav-link.active {
  background: #0F3F8A !important;
  color: white !important;
  border-radius: 50px;
 }

.nav-link.active {
  color: #ffffff !important;
  background-color: #0F3F8A;
  border-radius: 50px;
}

.nav-link:hover {
  color: #ffffff !important;
  background-color: #35A8CB;
  border-radius: 50px;
}

.container-fluid {
  display: grid !important;
  grid-template-columns: 20% 80%;
  text-align: center;
  gap: 5px;
  padding-right: calc(var(--bs-gutter-x) * 1)!important;
  padding-left: calc(var(--bs-gutter-x) * 1)!important;
}

.navbar-brand{
  justify-self: start;
  border-radius: 20px;
}

.collapse navbar-collapse{
  padding: 0 10px;
  margin: 0;
}

.navbar-nav {
  padding: 5px;
}


.navbar-toggler {
  color: #0F3F8A !important;
  background-color: #ffffff !important;
}


@media (max-width: 994px) {
  .container-fluid {
    display: flex !important;
    grid-template-columns: 20% 80%;
    text-align: center;
    gap: 10px;
    
  }

  .navbar-nav {
    width: 100%;
    flex-flow: row;
    justify-content: space-around;
    padding: 15px;
    background-color:rgba(53, 53, 53, 0.425);
  }

  .nav-link{
    font-weight: bolder !important;
    color: #ffffff !important;
    font-size: 23px!important;
    text-align: right;
    padding: 0 10px!important;
  
  }
}


.contact_bar {
  width: 100%;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  justify-content: space-between;
}









.footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #333;
  color: white;
  padding: 20px;
  justify-content: space-between;
  text-align: center;
}
.footer-column-1 ,
.footer-column-2 ,
.footer-column-3 {
  flex: 1;
  min-width: 400px;
  margin: 0px;
}

.footer-column-1 img{
  width: 228px;
  height: 150px;
  margin-top: 30px;
} 

.footer-column-1 .top_column {
  display: flex;
  gap: 20px;
  flex-direction: column-reverse;
  justify-content: start;
  align-items: center;
}

.footer-column-1 .column {
  display: flex;
  gap: 0px;
  flex-direction: row;
  width: 265px;
  height: 65px;
  background-color: #35A8CB;
  border-radius: 89px;
}

.footer-column-1 .column img {
    width: 60px;
    height: 39px;
    text-align: start;
    margin: 11px;
}

.footer-column-1 .column h1 {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 0;
  text-align: start;
  margin-top: 5px;
  margin-right: 5px;
}

.footer-column-1 p{
  font-size: 10px;
  margin-bottom: 0;
  text-align: center;
  margin-left: 50px;
  margin-top: 20px;
}


.footer-column-2 h1{
  font-size: 30px;
  margin-bottom: 10px;
  text-align: start;
  margin-left: 75px;
  margin-top: 49px;
  color: #35A8CB;
  font-weight: bold;
}

.footer-column-2 .top_a{
width: 170px;
}

.footer-column-2 p{
  font-size: 24px;
  margin-bottom: 0;
  text-align: start;
  margin-left: 50px;
  font-weight: bold;
}

.footer-column-3 h1{
  font-size: 30px;
  margin-bottom: 10px;
  text-align: start;
  margin-left: 21px;
  margin-top: 30px;
  color: #ffffff;
  font-weight: bold;
}

.footer-column-3 p{
  font-size: 20px;
  margin-bottom: 0;
  text-align: start;
  margin-left: 50px;
}

.footer-column-3 .top_column {
  display: flex;
  gap: 20px;
  flex-direction: column-reverse;
  justify-content: start;
  align-items: start;
}

.footer-column-3 .column {
  display: flex;
  gap: 0px;
  flex-direction: row;
  width: 265px;
  height: 65px;
  border-radius: 89px;
  margin-bottom: 10px;
}

.footer-column-3 .column img {
    text-align: start;
    margin: 11px;
}

.footer-column-3 .column h2 {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 0;
  text-align: start;
  margin-top: 5px;
  margin-right: 5px;
  font-weight: bold;
}

.footer-column-3 .column h3 {
  font-size: 15px;
  color: #ffffff;
  margin-bottom: 0;
  text-align: start;
  margin-top: 5px;
  margin-right: 5px;
  font-weight: bold;
}

.footer-column-2 a,
.footer-column-3 a{
color: #ffffff;
}

.footer-column-2 a .contact{
  color: #35A8CB;
}

@media (max-width: 768px) {
  .footer {
      flex-direction: column;
      align-items: start;
      text-align: start;
  }
  .footer-column-1 ,
  .footer-column-2 ,
  .footer-column-3 {
      width: 100%;
  }

  .footer-column-1 .top_column {
    justify-content: start;
    align-items: start;
  }

  .footer-column-3 .top_column {
    justify-content: start;
    align-items: start;
  }

  .footer-column-1 h1{
    text-align: start;
  }

  .footer-column-3 h1{
    text-align: center;
  }

  .footer-column-3 h2{
    text-align: start;
 }

  .footer-column-2 h1{
    text-align: start;
    margin-left: 20px;
 }

  .footer-column-1 p,
  .footer-column-2 p,
  .footer-column-3 p{
     text-align: start;
     margin-left: 20px
  }

  .footer-column-3 .top_column {
    display: flex;
    gap: 20px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .footer-column-3 a{
    display: flex;
    gap: 20px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

}